/* Normalice */
@import "normalize.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* colors */

:root {
  --vetmedicyn-white: #ffffff;
  --vet-medi-cyn-black: #000000;
  --vet-medi-cyn-sys-light-on-background: #181c1c;

  --63-b-5-b-2: #63b5b2;
  --vet-medi-cyn-ref-primary-primary-99: #f2fffd;
  --vet-medi-cyn-ref-primary-primary-95: #affffb;
  --vet-medi-cyn-ref-primary-primary-90: #9ff1ed;
  --vet-medi-cyn-ref-primary-primary-80: #83d4d1;
  --vet-medi-cyn-ref-primary-primary-70: #67b9b6;
  --vet-medi-cyn-ref-primary-primary-60: #4a9e9b;
  --vet-medi-cyn-ref-primary-primary-50: #2c8381;
  --vet-medi-cyn-ref-primary-primary-40: #006a68;
  --vet-medi-cyn-ref-primary-primary-30: #00504e;
  --vet-medi-cyn-ref-primary-primary-20: #003736;
  --vet-medi-cyn-ref-primary-primary-10: #00201f;

  --4-e-6355: #4e6355;

  --vet-medi-cyn-ref-secondary-secondary-95: #e2f4f3;
  --vet-medi-cyn-ref-secondary-secondary-90: #d4e6e4;
  --vet-medi-cyn-ref-secondary-secondary-80: #b8cac9;
  --vet-medi-cyn-ref-secondary-secondary-70: #9dafad;
  --vet-medi-cyn-ref-secondary-secondary-60: #839493;
  --vet-medi-cyn-ref-secondary-secondary-50: #697a79;
  --vet-medi-cyn-ref-secondary-secondary-40: #516261;
  --vet-medi-cyn-ref-secondary-secondary-30: #394a49;
  --vet-medi-cyn-ref-secondary-secondary-20: #233332;
  --vet-medi-cyn-ref-secondary-secondary-10: #0e1e1e;

  --3-b-6471: #3b6471;

  --vet-medi-cyn-ref-tertiary-tertiary-99: #fdfcff;
  --vet-medi-cyn-ref-tertiary-tertiary-95: #eaf1ff;
  --vet-medi-cyn-ref-tertiary-tertiary-90: #d5e4fa;
  --vet-medi-cyn-ref-tertiary-tertiary-80: #b9c8dd;
  --vet-medi-cyn-ref-tertiary-tertiary-70: #9eacc2;
  --vet-medi-cyn-ref-tertiary-tertiary-60: #8392a6;
  --vet-medi-cyn-ref-tertiary-tertiary-50: #6a788c;
  --vet-medi-cyn-ref-tertiary-tertiary-40: #515f72;
  --vet-medi-cyn-ref-tertiary-tertiary-30: #3a485a;
  --vet-medi-cyn-ref-tertiary-tertiary-20: #233142;
  --vet-medi-cyn-ref-tertiary-tertiary-10: #0e1c2d;

  --ba-1-a-1-a: #ba1a1a;

  --vet-medi-cyn-ref-error-error-99: #fffbff;
  --vet-medi-cyn-ref-error-error-95: #ffedea;
  --vet-medi-cyn-ref-error-error-90: #ffdad6;
  --vet-medi-cyn-ref-error-error-80: #ffb4ab;
  --vet-medi-cyn-ref-error-error-70: #ff897d;
  --vet-medi-cyn-ref-error-error-60: #ff5449;
  --vet-medi-cyn-ref-error-error-50: #de3730;
  --vet-medi-cyn-ref-error-error-30: #93000a;
  --vet-medi-cyn-ref-error-error-20: #690005;
  --vet-medi-cyn-ref-error-error-10: #410002;

  --5-c-5-f-5-c: #5c5f5c;

  --vet-medi-cyn-ref-neutral-neutral-99: #fcfcfb;
  --vet-medi-cyn-ref-neutral-neutral-95: #f0f1f0;
  --vet-medi-cyn-ref-neutral-neutral-90: #e2e3e2;
  --vet-medi-cyn-ref-neutral-neutral-80: #c6c7c6;
  --vet-medi-cyn-ref-neutral-neutral-70: #aaabab;
  --vet-medi-cyn-ref-neutral-neutral-60: #8f9190;
  --vet-medi-cyn-ref-neutral-neutral-50: #767777;
  --vet-medi-cyn-ref-neutral-neutral-40: #5d5f5e;
  --vet-medi-cyn-ref-neutral-neutral-30: #454747;
  --vet-medi-cyn-ref-neutral-neutral-20: #2f3130;
  --vet-medi-cyn-ref-neutral-neutral-10: #1a1c1c;

  --586059: #586059;

  --vet-medi-cyn-ref-neutral-variant-neutral-variant-99: #f7fdfc;
  --vet-medi-cyn-ref-neutral-variant-neutral-variant-95: #ecf2f1;
  --vet-medi-cyn-ref-neutral-variant-neutral-variant-90: #dee4e3;
  --vet-medi-cyn-ref-neutral-variant-neutral-variant-80: #c1c8c7;
  --vet-medi-cyn-ref-neutral-variant-neutral-variant-70: #a6acab;
  --vet-medi-cyn-ref-neutral-variant-neutral-variant-60: #8c9291;
  --vet-medi-cyn-ref-neutral-variant-neutral-variant-50: #727878;
  --vet-medi-cyn-ref-neutral-variant-neutral-variant-40: #59605f;
  --vet-medi-cyn-ref-neutral-variant-neutral-variant-30: #424847;
  --vet-medi-cyn-ref-neutral-variant-neutral-variant-20: #2b3231;
  --vet-medi-cyn-ref-neutral-variant-neutral-variant-10: #171d1c;

  --vet-medi-cyn-sys-light-primary-container: #6ec0bd;
  --vet-medi-cyn-sys-light-on-primary-container: #002c2b;
  --vet-medi-cyn-sys-light-secondary: #476462;
  --vet-medi-cyn-sys-light-secondary-container: #cdedeb;
  --vet-medi-cyn-sys-light-on-secondary-container: #334f4e;
  --vet-medi-cyn-sys-light-tertiary: #6d538a;
  --vet-medi-cyn-sys-light-tertiary-container: #c4a6e3;
  --vet-medi-cyn-sys-light-on-tertiary-container: #331b4e;
  --vet-medi-cyn-sys-light-background: #f7faf9;
  --vet-medi-cyn-sys-light-surface-variant: #dae5e3;
  --vet-medi-cyn-sys-light-on-surface-variant: #3e4948;
  --vet-medi-cyn-sys-light-outline: #6e7978;
  --vet-medi-cyn-sys-dark-primary: #85d7d4;
  --vet-medi-cyn-sys-dark-primary-container: #5badaa;
  --vet-medi-cyn-sys-dark-on-primary-container: #001817;
  --vet-medi-cyn-sys-dark-secondary: #adcdcb;
  --vet-medi-cyn-sys-dark-on-secondary: #183534;
  --vet-medi-cyn-sys-dark-secondary-container: #254241;
  --vet-medi-cyn-sys-dark-on-secondary-container: #b7d7d5;
  --vet-medi-cyn-sys-dark-tertiary: #dcbdfc;
  --vet-medi-cyn-sys-dark-on-tertiary: #3d2558;
  --vet-medi-cyn-sys-dark-tertiary-container: #b295d1;
  --vet-medi-cyn-sys-dark-on-tertiary-container: #20063b;
  --vet-medi-cyn-sys-dark-background: #101414;
  --vet-medi-cyn-sys-dark-on-background: #e0e3e2;
  --vet-medi-cyn-sys-dark-on-surface-variant: #bec9c7;
  --vet-medi-cyn-sys-dark-outline: #889392;

  --006-a-680-d: #006a680d;
  --006-a-6814: #006a6814;
  --006-a-681-c: #006a681c;
  --006-a-681-f: #006a681f;
  --006-a-6824: #006a6824;
  --83-d-4-d-10-d: #83d4d10d;
  --83-d-4-d-114: #83d4d114;
  --83-d-4-d-11-c: #83d4d11c;
  --83-d-4-d-11-f: #83d4d11f;
  --83-d-4-d-124: #83d4d124;
}

/* CSS Custom */
